.resultDiv {
	padding: 0 8px;
}

.requestPinyinDiv {
	margin: 0 !important;
	padding-left: 5px;
}

.responseTextDiv {
	padding-left: 5px;
}

.responsePinyinDiv {
	margin: 0 !important;
	padding-top: 5px;
}

.textDiv {
	margin-bottom: 4px !important;
}

.textDiv textarea {
	margin-bottom: 0 !important;
}